footer {
  background-color: #333;
  color: #fff;
  padding: .5rem;
  width: 100%;
}

footer .columns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .columns .col {
  padding: .5rem;
}

footer .columns .col h3 {
  margin: .4rem 0;
}

footer .columns .col li {
  margin: .4rem 1rem;
}

@media screen and (max-width: 650px) {
  footer .columns {
    flex-direction: column;
  }
}