.nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: .5rem;
}

.nav__logo {
  margin: .3rem .3rem;
  user-select: none;
}

.nav__items {
  display: flex;
  flex-direction: row-reverse;
  width: 50%;
  justify-content: space-between;
}

.nav__items .nav__item {
  padding: .5rem;
  transition: opacity .3s;
  position: relative;
  user-select: none;
}

.nav__items .nav__item:hover {
  opacity: .8;
}

.nav__items .nav__item::after {
  content: '';
  width: 0;
  height: 1px;
  background-color: #000;
  position: absolute;
  transform-origin: left;
  left: 0;
  bottom: 0;
  transition: all .3s;
}

.nav__items .nav__item:hover::after {
  width: 100%;
  transform-origin: right;
  right: 0;
}

.nav .nav__hamburger {
  display: none;
  cursor: pointer;
}

.nav__hamburger span {
  width: 50px;
  height: 5px;
  background-color: #000;
  border-radius: 100px;
  margin: 5px 0;
}

.nav__close {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav {
    position: relative;
    height: 100%;
  }

  .nav .nav__hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nav .nav__items {
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    right: -100%;
    /* transform: translateY(50px); */
    width: 50%;
    background-color: #fff;
    transition: all .3s ease-in-out;
    height: 100vh;
  }

  .nav__close {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 2rem;
    display: flex;
  }

  .nav.nav__active .nav__items {
    z-index: 1000000000;
    right: 0;
  }
}